@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@{
    ViewData["Title"] = "Date Extractor";
}

<div class="text-center">

    <h1>@ViewData["Title"]</h1>

    <h2>The extracted date is : </h2><h1>@ViewBag.Date</h1>

</div>